.fullScreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rcsbFvMain {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000000;
}

.rcsbFvMain > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
}

.rcsbFvMain * {
  box-sizing: border-box;
}

.rcsbFvCell {

}

.rcsbFvSubtitle {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 15px;
}

.rcsbFvTitle{
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 15px;
}

.rcsbFvClose {
  position: absolute;
  right: 10px;
  top:5px;
  cursor: pointer;
}

