.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bootstrapRcsbFv3DComponentScope {
  @import "~bootstrap/scss/bootstrap";
}

.rcsbFvMain {
  background-color: #fff;
  z-index: 10;
}

.rcsbFvMain * {
  box-sizing: border-box;
}

.rcsbFvCell {
}

.rcsbFvSubtitle {
  font-size: 16px;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 15px;
}

.rcsbFvTitle{
  font-size: 24px;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 15px;
}

.rcsbFvClose {
  position: absolute;
  right: 10px;
  top:5px;
  cursor: pointer;
}

